/* button{
    height: 10vh;
    font-size: 5vh;
    margin: 8px;
    border: 0px solid white;
    background-color:  rgb(0, 150, 205);opacity: 0.01;
    color: white;
    padding: 0.6vh;
    width: 15%;
    border-radius: 25px;
    font-weight: 600;
    
    
} */

/* li{
    display: inline-block;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 14px;
    padding-left: 20px;
    text-decoration: none;
   
}

ul{
    justify-content: center !important;
    text-align: center;
    display: inline-block;
    color: white;
    text-align: center;
    justify-content: center;
    text-decoration: none;
} */
